*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ecf0f1;
}
nav{
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
}
nav .logo{
    color: white;
    font-size: 24px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li{
    color: #ecf0f1;
    list-style: none;
    margin: 0 10px;
    cursor: pointer;
}