*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow: hidden;
}
nav{
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
}
nav .logo{
    color: #EE5A24;
    font-size: 28px;
    font-family: 800;
    margin-left: 20px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
nav ul li{
    color: #ecf0f1;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}
div img{
    width: 100%;
    height: 100vh;
}